Basic Question

1. What are data structures, and why are they important

Ans- Data structures are built in function in python where we can present the data as we can inform of lists, tuples, strings, tuples
and etc. It is important as data is been structured with it for our best.

2. Explain the difference between mutable and immutable data types with examples

Ans- Key difference between mutable and immutable data types are like mutable can be have flexiblity that after the creation 
we can add and remove the data, and in immutable we don't have that power as they are fixed

3. What are the main differences between lists and tuples in Python

Ans- list and tuple are very similar like we can store multiple data types in both. But thers is one big difference that lists are mutable
and tuple are immustable as they are meant to be fixed.

4. Describe how dictionaries store data

Ans: In python Dictionaries are like forms, In simple word. Like there is a dictionary where feilds like name and age and etc.
here to access specific field in dictionary we don't have indexing as the field name like "name" will be able to access name field

5. Why might you use a set instead of a list in Python

Ans- Using sets instead of list because sets automatically removes the duplicate fields and return the value and it is also 
faster to find look up value

6. What is a string in Python, and how is it different from a list

Ans- Strings in python are like group of words or numbers inside double or single quotes and lists are like group of multiple data type 
in sequence like we can have multiple strings in list and also we can have floats, intgers and boolean inside a list along

7. How do tuples ensure data integrity in Python

Ans- See like tuple are creation can not be modified as they are immutable so data can't be added removed after the creation of the 
tuples. Hence tuple after creation can't be modified so it maintian intergrity of the data in python.

8. What is a hash table, and how does it relate to dictionaries in Python

Ans- Hash tables is an data structure that stores the key value add helps in fater access to the keys. Like in Dictionary 
we assign value with hash which act as index and are stored in sequence and also faster to access.

9. Can lists contain different data types in Python

Ans- Yes, Lists can contain multiple data types like strings, float, intergers.

10. Explain why strings are immutable in Python

Ans- strings in python are immutable as once created can't be modified. This helps and insure data intergrity and make strings hasable in python.

11. What advantages do dictionaries offer over lists for certain tasks

Ans- See like dictionaries offers a great feature that it works on "key: value" base like a forum. It make easy to access the elements 
as they there index becomes the "key". List are also useful but it does not move around "key: value" operation as dictionary.

12. Describe a scenario where using a tuple would be preferable over a list

Ans- Like as we know tuples are immutable and lists are mutable and from that we can create an great scenrio.
For example We are running a broking company and we have crenditals of our customer like aadhar, pan, DOB(mostly not changed) which are not likely to be changed but data like address, name, and etc can be changed but not often. So, for credentials like aadhar, pan, DOB tuples are best as we don't want to modify that.

13. How do sets handle duplicate values in Python

Ans- In Python, sets automatically remove duplicate values. When you add elements to a set, any duplicates are ignored and only unique elements are kept.

14. How does the “in” keyword work differently for lists and dictionaries

Ans- See like in list "in" works like checking wheather the $value$ is present or not note the term $value$. But in dictionaries "in" will
not check the $value$ it will only go through "keys".

In [4]:
#For Example we have name and age of a person 

person_list = ["Siddharth", 18]
person_dict = {"name": "Siddharth", "age": 18}

print("Siddharth" in person_list) # will pass true 
print("Siddharth" in person_dict) # will pass False 
print("name" in person_dict) # will pass true
#hence we have learned tha in does not access values in dictionaries it only gets the key

True
False
True

15. Can you modify the elements of a tuple? Explain why or why not

Ans- No, we know that tuples are immuatable. They are meant for data intergrity and not be modified after the creation.

16. What is a nested dictionary, and give an example of its use case

Ans- Nested distionary a one of the best thing in python data structure. Like we can store keys and values in some values of keys.
For Example i have a store and i have marked everyitem with barcode in barcode i have name of product and price of the same. I have created a project on it.

In [5]:
#Shopping biller

shope_barcode_list = {
    "P001": {"item_name": "Banana Chips", "Price": 60},
    "P002": {"item_name": "Layz Chips", "Price": 20},
    "P003": {"item_name": "Maggi Medium Pack", "Price": 65},
    "P004": {"item_name": "Oreo Large", "Price": 30},
    "P005": {"item_name": "Red Bull", "Price": 125},
    "P006": {"item_name": "Budwiser Beer", "Price": 230}
}

customers_inline = {
    "cus_1": ["P002", "P006"], 
    "cus_2 ": ["P001", "P005", "P002", "P006"]
}
cart_total = 0

for customer_id in customers_inline:
  print(f"\n Bill for {customer_id} is:")
  cart_total = 0
  for barcode in customers_inline[customer_id]:
    item = shope_barcode_list[barcode]
    print(f"Item: {item['item_name']}  Rate: {item['Price']}")
    cart_total += item['Price']
  print(f"Your Cart Total: {cart_total}")

 Bill for cus_1 is:
Item: Layz Chips  Rate: 20
Item: Budwiser Beer  Rate: 230
Your Cart Total: 250

 Bill for cus_2  is:
Item: Banana Chips  Rate: 60
Item: Red Bull  Rate: 125
Item: Layz Chips  Rate: 20
Item: Budwiser Beer  Rate: 230
Your Cart Total: 435

We can see that nested dictionary made so easy to mange data cleanly

17. Describe the time complexity of accessing elements in a dictionary

Ans- We know that dictionaries are "key: value" data structure where key also act as index of the values. So, the key are converted into the 
hashs and time complexcity come in O(1). Here O represt data scale or time which will be taken to process data

18. In what situations are lists preferred over dictionaries

Ans- List is prefered when data is small sequencial and orderd. So, It make easy to use in form of index and directly geting value istead of keys. Also in dictionaries data is overwritten but in list it does not happen.

In [6]:
#For Example
person_detial_list = ["Siddharth", 18, "Sidhu"] #name is changed in future
person_detial_dict = {"name": "Siddharth", "age": 18, "name": "Sidhu"}

print(person_detial_list)
print(person_detial_dict)

['Siddharth', 18, 'Sidhu']
{'name': 'Sidhu', 'age': 18}

19. Why are dictionaries considered unordered, and how does that affect data retrieval.

Ans- See dictionaries are unordered as there is no such index for it the data is meant for faster access. like in list we can access data by indexing like list[0] but in dict it will throw error

20. Explain the difference between a list and a dictionary in terms of data retrieval

Ans- Very simple in list data can be fected by indexing like list[0] but whereas in dictionary it will throw error while trying to access value 
For Example

In [8]:
my_dict = {"name": "Siddharth", "age": 18 }

print(my_dict[0])

KeyError: 0

Practical Question

1. Write a code to create a string with your name and print it

In [9]:
name = "Siddharth"

print(f"{name} is great")

Siddharth is great

2. Write a code to find the length of the string "Hello World"

In [10]:
print(len("Hello World"))

11

3. Write a code to slice the first 3 characters from the string "Python Programming"

In [12]:
print("Python Programming"[0:3])

Pyt

4. Write a code to convert the string "hello" to uppercase

In [17]:
print("hello".upper())

HELLO

5. Write a code to replace the word "apple" with "orange" in the string "I like apple"

In [20]:
word_statement = "I like apple"
print(word_statement.replace("apple", "orange"))

I like orange

6. Write a code to create a list with numbers 1 to 5 and print it

In [25]:
my_list = [1, 2, 3, 4, 5]
print(my_list)

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4]

In [26]:
my_list = [1, 2, 3, 4, 5]
my_list.append(10)

print(my_list)

[1, 2, 3, 4, 5, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [27]:
my_list = [1, 2, 3, 4, 5]
my_list.remove(3)

print(my_list)

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [28]:
my_list = ['a', 'b', 'c', 'd']
 
print(my_list[1])

b

10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [29]:
my_list = [10, 20, 30, 40, 50]
print(my_list[::-1])

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 100, 200, 300 and print it

In [30]:
my_tuple = (100, 200, 300)

print(my_tuple)

(100, 200, 300)

12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [32]:
my_tuple = ('red', 'green', 'blue', 'yellow')

print(my_tuple[-2])

blue

13. Write a code to find the minimum number in the tuple (10, 20, 5, 15)

In [34]:
my_tuple = (10, 20, 5, 15)

print(min(my_tuple))

5

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

In [38]:
animals = ('dog', 'cat', 'rabbit')
index = animals.index('cat')
print(index)

1

15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it

In [40]:
#If Not There
my_tuple = ("Banana", "Mango", "Organge")

print("Kiwi" in my_tuple)

False

In [41]:
#If There
my_tuple = ("Kiwi", "Mango", "Organge")

print("Kiwi" in my_tuple)

True

16.  Write a code to create a set with the elements 'a', 'b', 'c' and print it

In [42]:
my_set = {'a', 'b', 'c'}

print(my_set)

{'b', 'a', 'c'}

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}

In [45]:
my_set = {1, 2, 3, 4, 5}
print(my_set)
my_set.clear()
print(my_set)

{1, 2, 3, 4, 5}
set()

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}

In [ ]:
my_set = {1, 2, 3, 4}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}

In [46]:
my_set_1 = {1, 2, 3}  
my_set_2 = {3, 4, 5}

print(my_set_1 | my_set_2)

{1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}

In [47]:
my_set_1 = {1, 2, 3}  
my_set_2 = {2, 3, 4}

print(my_set_1 & my_set_2)

{2, 3}

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it

In [48]:
my_dict = {"name": "Siddharth", "age": 18, "city": "Jodhpur"}
print(my_dict)

{'name': 'Siddharth', 'age': 18, 'city': 'Jodhpur'}

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [57]:
my_dict_22 = {'name': 'John', 'age': 25}
print(my_dict_22) #before change

my_dict_22["country"] = "USA"
print(my_dict_22)

{'name': 'John', 'age': 25}
{'name': 'John', 'age': 25, 'country': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [56]:
my_dict_23 = {'name': 'Alice', 'age': 30}

print(my_dict_23['name'])

Alice

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [60]:
my_dict_24 = {'name': 'Bob', 'age': 22, 'city': 'New York'}
my_dict_24.pop('age')
print(my_dict_24)

{'name': 'Bob', 'city': 'New York'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}

In [61]:
my_dict_25 = {'name': 'Alice', 'city': 'Paris'}

print("city" in my_dict_25)

True

26. Write a code to create a list, a tuple, and a dictionary, and print them all

In [63]:
my_list_26 = ["Siddharth", 18, "Jodhpur", "male"] 
my_tuple_26 = ("Siddharth", 18, "Jodhpur", "male")
my_dict_26 = {"name": "Siddharth", "age": 18, "city": "Jodhpur", "sex": "male"}


print(type(my_list_26), my_list_26)
print(type(my_tuple_26), my_tuple_26)
print(type(my_dict_26), my_dict_26)

<class 'list'> ['Siddharth', 18, 'Jodhpur', 'male']
<class 'tuple'> ('Siddharth', 18, 'Jodhpur', 'male')
<class 'dict'> {'name': 'Siddharth', 'age': 18, 'city': 'Jodhpur', 'sex': 'male'}

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [65]:
my_list_27 = [1, 55, 23, 98, 13]
my_list_27.sort()

print(my_list_27)

[1, 13, 23, 55, 98]

28. Write a code to create a list with strings and print the element at the third index

In [66]:
my_list_28 = ["0", "1", "2", "3", "4"]

print(my_list_28[3])

3

29. Write a code to combine two dictionaries into one and print the result.

In [67]:
my_dict_29 = {"name": "Siddharth", "age": 18, "city": "Jodhpur"}

my_dict_29_2 = {"sex": "Male"}

combined_dict = {**my_dict_29, **my_dict_29_2}

print(combined_dict)

{'name': 'Siddharth', 'age': 18, 'city': 'Jodhpur', 'sex': 'Male'}

30. Write a code to convert a list of strings into a set

In [68]:
list_string = ["Siddharth", "Sidhu", "Siddz"]
print(type(list_string), list_string)

set_string = set(list_string)
print(type(set_string), set_string)

<class 'list'> ['Siddharth', 'Sidhu', 'Siddz']
<class 'set'> {'Sidhu', 'Siddharth', 'Siddz'}